header {
  margin: 0 auto;
	width: 960px;
	height: 350px;
	background-image: url("img/mainbg.png");
	display: flex;
	background-size: cover;
  justify-content: center;
	align-items: center;
  text-align: center;
}

.header-text_shimada {
	margin: 0;
	color: white;
}

.nav_shimada {
  margin: 0 auto;
	top: 0px;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content:space-between;
	border: 1px solid #efefef;
	z-index: 1;
	width: 960px;
}
.nav_shimada img {
	margin-left: 20px;
	float: left;
	width: 150px;
	height: 30px;
}
.nav_shimada ul{
	margin-right: 20px;
	display: flex;
	height: 70px;
	align-items: center;
	list-style: none;
}
.nav_shimada li {
	padding: 0 10px 0;
	font-size: 18px;
}
.nav_shimada li>a {
	display: inline-block;
	width: 85px;
	line-height: 70px;
	text-align: center;
	text-decoration: none;
	color: #222222;
	cursor: pointer;
}

.about-container_shimada {
	text-align: center;
	margin-top: 100px;
}

.about-container_shimada h1 {
	margin-bottom: 24px;
	color: #ffd61a;
}

.about-container_shimada h2 {
	margin-bottom: 64px;
}

.about-container_shimada p:nth-of-type(1) {
	margin-bottom: 40px;
}

.about-container_shimada p:nth-of-type(5) {
	margin-bottom: 80px;
}




/* ここから下はContactのパートBy伊藤 -------------------------------------*/
.contact_ito {
	text-align: center;
}
.contact_ito h1{
	color: #ffd61a;
}

.formContainer_ito {
    display: flex;
    justify-content: center;
}

input[type="text"],input[type="email"]{
  border: solid 1px #bfbfbf;
 width: 328px;
 height: 36px;

}

.textf_ito {
	display: flex;
	justify-content: center;
} 

.textf_ito dl {
	width: 100%;
}

.textf_f_ito {
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
} 

#username {
	margin-left: 78px;
}

#kana {
	margin-left: 78px;
}

.textf_f_ito dt{
	padding-right: 120px;
}

textarea {
	border: solid 1px #bfbfbf;
	width: 328px;
	height: 108px;

}

.motiv_ito {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 12px;
}



.motiva_ito  {
margin-right: 170px;
margin-left: 60px;

}
 input[type="checkbox"]{
    display: none;
}

input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    top: 50%;
   border-radius: 26%;
    /* 枠の色変更 お好きな色を */
    background-color: #f0ebe5; /* 背景の色変更 お好きな色を */
}
input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 20px;
}

input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 18px;
    height: 9px;
    margin-top: -9px;
    top: 50%;
    left: 3px;
    transform: rotate(-45deg);
    border-bottom: 3px solid;
    border-left: 3px solid;
    border-color:  #585753; /* チェックの色変更 お好きな色を */
}


.motiv_ito dd {
	font-size: 14px;
    margin-bottom: 24px;
}

.texta_ito {
	display: flex;
	justify-content: flex-start;
}

.texta_ito dt {
	margin-right: 200px;
	margin-left: 415px;
}


.submit_button_ito {
	font-size: 18px;
	height: 54px;
	width: 298px;
	background-color: #ffd61a;
	display: flex;
	justify-content: center;
	margin-top: 40px;
	margin-bottom: 40px;
	
}

.ssubmit_ito {
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.ssubmit_ito a {
	color: white;
}

/*BOTTUN画面
---------------------*/

.gotop_img_ito {
    margin-left: 1100px;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused; 
}

.gotop_img_ito:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
}


/*FOOTER画面
---------------------*/
.footer_ito {
	text-align: center;
	padding-top: 32px;
	padding-bottom: 32px;
	background-color: #707070;
	font-size: 18px;
	color: white;
}


/* ここから下は news, access (Nishi) -------------------------------------*/
.news_nishi{
	text-align: center;
	font-size: 16px;
}
.news_nishi h1 {
    font-size: 24px;
    color: #ffd61a;
}
.news_container_nishi {
    display: flex;
}
.news_container_box {
    margin: 64px 16px 16px;
}
.news_nishi button {
    height: 60px;
    width: 200px;
    background-color: #ffd61a;
    font-size: 21px;
    color: white;
    margin-bottom: 48px;
    border-style: none;
}
.access_nishi {
    text-align: center;
    font-size: 16px;
    padding-top: 64px;
    padding-bottom: 80px;
    background-color: #fafafa;
}
.access_box_nishi{
	justify-content: center;
	display: flex;
}
.a_l_nishi{
	margin-right: 48px;
	width: 8em;
	text-align: left;
}
.a_p_nishi{
	width: 32em;
	text-align: left;
}

/* ここから下は course (aririn) -------------------------------------*/
.course_ari h1 {
	color: #222222;
	font-size: 24px;
	line-height: 100%;
	display: flex;
	justify-content: center;
}

.course_ari p {
	display: flex;
	justify-content: center;	
}

.kenshu_ari {
	display: flex;
	justify-content: center;
}

.kenshu_text_ari {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 48px;
	padding-right: 36px;
	background-color: whitesmoke;
}

.kenshu_text_ari h2 {
	color: #222222;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 40px;
}

.chisiki_ari {
	display: flex;
	justify-content: center;
}

.chisiki_text_ari {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 36px;
	padding-right: 48px;
	background-color: whitesmoke;
}

.chisiki_text_ari h2 {
	color: #222222;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 40px;
}

.sotsugyo_ari {
	display: flex;
	justify-content: center;
}

.sotsugyo_text_ari {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-left: 48px;
	padding-right: 36px;
	background-color: whitesmoke;
}

.sotsugyo_text_ari h2 {
	color: #222222;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 40px;
}
